{% extends "base.html" %}

{% block title %}It's me, PP {% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='/fritzSuit.png') }}" width="400">

<br><br>
<br><br>
<br><br>

<h1> Emotinal articulation and problem solving w/ <br> pp </h1>




<p> I reckoned this was gonna be a whole lot more fruitful than therapy <br>
	So thanks for your time, thanks for showing up and stoppin' by <br>
	I hope something made ya laugh or think of something new,
	&amp; remember if ya dont like it, <br>
	You can wipe your ass with it <br>
	&lt;3
</p>

<div style="height: 150px;"></div>

<h1>(WIP:03/2025)</h1>



{% endblock %}