<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- title>{% block title%}  YUCK! {% endblock %} </title -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
	<link rel="icon" href="/static/fritzSuit.ico" type="image/x-icon">
</head>



<body>

	<nav>
		<a href="/">About</a>
		<a href="/gallery">The Bin</a>
		<!-- a href="/about">About</a -->
		<a href="/signup">RALLY</a>
	</nav>

	<div class="main-content">
		{% block content %}{% endblock%}
	</div>

	<script>
		console.log("Testing inline JavaScript directly in the HTML");
	</script>
	{% block scripts %}{% endblock %}


</body>

</html>
