{% extends "base.html" %}

{% block content %}
<h1> Gallery</h1>

<div class="content" id="gallery"></div>

<button id="load_more_button">Load More</button>
<div id="loading" style="display:none;">Loading...</div>

<style>
    #gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    #gallery img {
        max-width: 300px;
        height: auto;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    let page = 1;
    const loadingDiv = document.getElementById('loading');
    const loadMoreButton = document.getElementById('load_more_button');

    function loadMore() {
        loadingDiv.style.display = 'block';
        loadMoreButton.disabled = true;

        fetch(`/gallery/load_more?page=${page}`)
            .then(response => response.json())
            .then(data => {
                const gallery = document.getElementById('gallery');

                data.images.forEach(imgUrl => {
                    const link = document.createElement('a');
                    // link.href = imgUrl;
                    const relativePath = new URL(imgUrl, window.location.origin).pathname.replace("/static/pics/", "");
                    link.href = `/view/${relativePath}`;
                    link.target = "_blank";

                    const img = document.createElement('img');
                    img.src = imgUrl;

                    link.appendChild(img);
                    gallery.appendChild(link);
                });

                if (!data.has_more) {
                    loadMoreButton.style.display = 'none';
                } else {
                    page += 1;
                }
            })
            .finally(() => {
                loadingDiv.style.display = 'none';
                loadMoreButton.disabled = false;
            });
    }

    loadMoreButton.addEventListener('click', loadMore);
    loadMore();
</script>
{% endblock %}